{% load dna_tags %}
<style>
  body > section:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    width: 0;
  }
  section > figure {
    float: left;
    margin: 6px;
    max-height: 100px;
    max-width: 100px;
    padding: 6px;
  }
  section > figure > img {
    margin: 0;
  }
</style>
<section>
  {% for thing in object_list %}
  <figure>
    <a href="{% url 'engage.thing' page_slug thing_name thing.pk %}">
      {% if thing.image %}
      <img src="{% thumbnail thing.image '100x100' %}" alt="{{ thing.name }}" />
      {% else %}
      <a href="{% url 'update.thing' page_slug 'engage' thing_name thing.pk %}"
        >Upload</a
      >
      {% endif %}
    </a>
  </figure>
  {% endfor %}
</section>
{% if is_paginated %}
<p>
  {% with is_paginated=is_paginated %} {% with paginator=paginator %} {% with
  page_obj=object_list %} {% include 'dna/_thing_paginator.html' %} {% endwith
  %} {% endwith %} {% endwith %}
</p>
{% endif %}
