{% extends 'frankenstein/thing_page.html' %} {% block precontent %}
<p>
  Thank you for your interest in our company. You can also find us on Social
  Media at the following links.
</p>
<ul>
  <li><a href="http://twitter.com">Twitter</a></li>
  <li><a href="http://facebook.com">Facebook</a></li>
</ul>
{% endblock precontent %}
