{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="{% static '' %}apple-touch-icon.png" />
    <link rel="shortcut icon" href="{% static '' %}favicon.ico" />
    <title>{% block title %}{% endblock title %} Frankenstein</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static '' %}css/frankenstein.min.css" />
  </head>
  <body>
    {% with menu_level=page_menu %} {% with menu=True %} {% include
    'dna/_menu.html' %} {% endwith %} {% endwith %}
    <h1>{% block h1 %}{% endblock h1 %}</h1>
    {% block precontent %}{% endblock precontent %} {% block content %}{%
    endblock content %}
  </body>
</html>
